$prefix: "../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg",
    $prefix+"img/about/about-s4.jpg";
$bg__comingsoon-img: "../img/hotel.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__tours-img: 
    $prefix+"img/tours/tours-s1.jpg",
    "",
    $prefix+"img/tours/tours-s3.jpg",
    $prefix+"img/tours/tours-s4.jpg",
    $prefix+"img/tours/tours-s5.jpg",
    $prefix+"img/tours/tours-s6.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "tours",
    "privacy",
    "user";
$classes_init:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__tours-img,
    $bg__privacy-img,
    $bg__user-img;
$body__min-height: 100%;
$color__bg-1: #666;
$color__blue: #0080cb;
$color__shadow: #000;
$color__container-bg: #fff;
$font-logo__family: 'Raleway';
$font-logo__size: 24px;
$font-main__family: 'Raleway';
$font-main__size: 16px;
$footer__height: 40px;
$header__height: 78px;
$section__min-height: 100vh;
$text__shadow: 1px 1px 3px #333;